* {
  padding: 0;
  margin: 0;
}

body {
  margin: 1rem 5%;
  font-family: "Karla", "MarkaziText", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header {
  display: flex;
  justify-content:center;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li>a {
 /* margin-bottom: 0.4rem;*/
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  display: block;
}

section {
  display: flex;
}

section {
  display: flex;
}

header section {
  display: flex;
  align-items:center;
}

nav li>a:hover {
  text-decoration: underline;
}
