* {
  font-variation-settings: normal;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
}

body {
  margin: 1rem 0;
  font-family: "Karla", "MarkaziText", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MarkaziText", "Karla", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

nav li>a {
  /* margin-bottom: 0.4rem;*/
  padding: 0.3rem 0.5rem;
  display: block;
  font-weight: 500;
}



header section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav {
  font-size: 20pt;
  /* font-variation-settings: 'wght' 625 'slnt' 20; */
}

.promo {
  min-height: 28.9rem;
  background: linear-gradient(180deg, #495e57 90%, #FFFFFF 10%);
  display: flex;
  justify-content: center;
}

.promo img {
  border-radius: 1rem;
}

.primary-back {
  background-color: #495e57;
}

.primary-color1 {
  color: #495e57;
}

.primary-color2 {
  color: #F4CE14;
}

.primary-back2 {
  color: black;
  background-color: #F4CE14;
}

.primary-back1 {
  color: white;
  background-color: #495e57;
}

.card-back {
  color: #495e57;
  background-color: #EDEFEE;
}

.promo .overlay {
  gap: 10rem;
  display: flex;
}

.overlay .chicago {
  display: inline-block;
  color: white;
}

.rest-name {
  font-size: 64pt;
  margin-bottom: -2rem;
}

.sub-title {
  font-size: 48pt;
}

.chicago>.sub-title {
  margin-top: -1rem;
}
.lead {
  font-size: 18pt;
  font-weight: 500;
  /*medium*/
}

.chicago>.lead {
  width: 18rem;
  margin-bottom: 2.5rem;
}

.primary-btn1 {
  display: block;
  height: 3.75rem;
  min-width: 12.5rem;
  font-weight: 500;
  border-radius: 1rem;
  font-size: 18pt;
}

.info-img {
  display: flex;
  align-items: flex-end;
}

.specials .top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 1rem 0;
  gap: 14rem;
}

.special-cards {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 1rem 1rem 0rem 0rem;
}
.special-cards .card {
  width: 16.5rem;
  background-color: #EDEFEE;
  margin: 1rem;
  min-height: 37.5rem;
  display: flex;
  flex-direction: column;
}

.card-image {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 16.5rem;
  height: 10.5rem;
  object-fit: cover;
}

.card-title {
  font-size: 18pt;
  font-weight: 700;
}

.card-discription {
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.5;
}

.price {
  font-size: 16pt;
  color: #EE9972;
  font-weight: bold;
}

.card-title-line {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
}

.card>*:nth-child(n + 2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-bottom-line{
  margin-top: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.card-bottom-line>a {
  font-size: 16pt;
  font-weight: bold;
  margin-right: 0.5rem;
}
.card-bottom-line img {
  height: 1rem;
}

button:hover {
  cursor: pointer;
}

.primary-btn1:hover {
  cursor: pointer;
}

footer {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
}

footer h6 {
  font-size: 18pt;
  font-weight: 500;
}

.footer-container {
  display: flex;
  gap: 1rem 6rem;
  flex-wrap: wrap;
}

.footer-container section {
  flex: 1;
  min-width: 10rem;
}

footer ul{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.booking-form {
  display: grid;
  max-width: 400px;
  border-radius: 16px;
}

.booking-form .sub-title {
  margin: 1rem 1rem 0 1.4rem;
  font-size: 44pt;
}

.booking-form>*{
  margin: 0 1rem 0 1rem;
}

.booking-form>label{
  margin: 2rem 1rem 1rem 1rem;
}

.booking-form>input[type='submit'] {
  margin: 5rem 1rem 2rem 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.booking-confirmation {
  min-width: 400px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.booking-confirmation h6 {
  padding : 1rem 0 1rem 0;
}

.booking-confirmation p {
  padding : 0 0 2rem 0;
}

.booking-confirmation button {
  margin : 1rem 1rem 1rem 1rem;
}

.booking-confirmation a{
  display: flex;
  justify-content: center;
}

.primary-back1.primary-btn1:hover {
  color:#EFEFEF;
  background-color: #394e47;
}

.primary-back2.primary-btn1:hover {
  color: #101010;
  background-color: #E4BE04;
}

.input {
  height: 40px;
  width: 345px;
  font-size: 16pt;
  border-radius: 16px;
  border: 1px solid #495e57;
  background: transparent;
}

select.input {
  padding-left: 10px;
  width: 355px;
  font-weight: 400;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

input[type='number'].input {
  padding-left: 12px;
  font-weight: 400;
}

input[type='date'].input {
  padding-left: 10px;
  padding-right: 10px;
  width: 335px;
  font-weight: 400;
}

label {
  font-size: 16pt;
}

.inline-error {
  color: red;
  margin-top: 0.5rem;
}
@media (width <=57rem) {
  .promo {
    background: linear-gradient(180deg, #495e57 90%, #FFFFFF 10%);
  }

  .promo .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }

  .info-img {
    display: block;
  }

  .specials .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem 5% 0rem 5%;
    gap: 0rem;
  }

  .special-cards {
      display: flex ;
      flex-wrap: wrap;
      gap: 1rem;
  }
}

@media (width <=30rem) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem 6rem;
  }
}